<%- include('header'); -%>
<%- include('navbar'); -%>


<br/>
<br/>
<div class="container">

    <form action="/login" method="POST" >
    <input type="text" name="email" placeholder="Enter email">
    <input type="text" name="password" placeholder="Enter password">
    <input type="submit" value="Login">
    </form>
</div>

<br/>
<br/>

<%- include('footer'); -%>